@font-face {
  font-family: "SFProDisplay";
  src: url('../fonts/SFProDisplay.OTF');
}

@font-face {
  font-family: "SFProDisplayBold";
  src: url('../fonts/SFProDisplayBold.OTF');
}

@font-face {
  font-family: "SFProDisplayMedium";
  src: url('../fonts/SFProDisplayMedium.OTF');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: SFProDisplay;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

ul li {
  width: auto;
  float: left;
}

a {
  text-decoration: none;
}
  
