:root {
  --primary-color: #1206FA;
  --bg-color: #FCF8F8;
}

#overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: #00000050;
  z-index: 1;
}

#hamburger {
  display: none;
}

.side-nav {
  display: none;
}

.nav-wrap {
  /* background-color: #ffffff00; */
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.navs {
  width: calc(100vw - 60px);
  max-width: 1184px;
  margin: 0 auto 30px auto;
  height: 64px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav-home {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000000aa;
}

.nav-links {
  background-color: var(--primary-color);
  height: 100%;
  width: fit-content;
  min-width: 52px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 0px 0px 10px #000000aa;
}

.nav-link-container-white {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
}

.nav-link > a {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.nav-link-icon > img, .nav-link-icon-white > img {
  width: 80%;
  height: 80%;
}

.nav-link-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid 2px #ffffff;
  width: 32px;
  height: 32px;
}

.introduction-text {
  width: 50%;
}

.introduction {
  width: 100%;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.introduction-image {
  width: 50%;
}

.profile-picture {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 40px;
  box-shadow: 0px 0px 10px gray;
}

.hidden {
  display: none;
}

.animated-text-container {
  position: relative;
  /* Same as h1 line-height */
  height: 66.83px;
  overflow: hidden;
}

.animated-text {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  animation: slide-up 8s linear infinite;
  font-family: SFProDisplayMedium;
}

@keyframes slide-up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  2% {
    transform: translateY(0%);
    opacity: 1;
  }
  12% {
    transform: translateY(0%);
    opacity: 1;
  }
  23% {
    transform: translateY(0%);
    opacity: 1;
  }
  25% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

.fade-in-animated {
  animation: fade-in 2s ease-out 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-up-animated {
  animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-320px);
  }
}

.scroll-down-animated {
  animation: scroll-down 10s linear infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-328px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animated-text:nth-child(1) {
  animation-delay: 0s;
}

.animated-text:nth-child(2) {
  animation-delay: 2s;
}

.animated-text:nth-child(3) {
  animation-delay: 4s;
}

.animated-text:nth-child(4) {
  animation-delay: 6s;
}

.footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
}

.text-h1 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 66.83px;
  font-family: SFProDisplayMedium;
}

.text-highlight {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 66.82px;
  letter-spacing: 1%;
}

.purple {
  color: var(--primary-color);
}

.btn {
  border: solid #000000 2px;
  border-radius: 12px;
  padding: 12px;
  gap: 10px;
  opacity: 0.95;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: 5%;
  margin-top: 24px;
  letter-spacing: 0.05em;
  background-color: #ffffff;
  font-family: SFProDisplay;
}

.btn:hover {
  color: #ffffff;
  background: var(--primary-color);
  border: solid var(--primary-color) 2px;
  opacity: 1;
}

.container {
  width: calc(100vw - 60px);
  max-width: 1184px;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.experience {
  margin: 30px 0px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.experience-description {
  background-color: var(--bg-color);
  border-radius: 24px;
  padding: 32px;
}

.experience-text, .experience-description {
  width: 50%;
}

.experience-text-normal {

  font-family: SFProDisplayMedium;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.experience-text-highlight {
  font-family: SFProDisplayMedium;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.experience-description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #000000A0;
}

.skill {
  margin: 30px 0px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-text {
  width: 50%;
  font-weight: 500;
  font-size: 32px;
  line-height: 44.8px;
}

.skill-images {
  width: 50%;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  height: 358px;
  overflow: hidden;
}

.skill-image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.work {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 72px;
}

.work-images {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.work-image {
  width: 100%;
}

.work-img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  aspect-ratio: 1.41/1;
  object-fit: fill;
}

.work-img:hover {
  box-shadow: 0px 0px 8px 0px var(--primary-color);
}

.personal-message {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.personal-message-header {
  width: 50%;
  font-weight: 500;
  font-size: 32px;
}

.personal-message-description {
  width: 50%;
  background-color: var(--bg-color);
  border-radius: 24px;
  padding: 32px;
}

.personal-message-description-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #00000060;
}

@media only screen and (max-width: 575px) {
  .introduction {
    flex-direction: column;
  }
  .introduction-text {
    width: 100%;
  }

  .introduction-image {
    width: 100%;
  }

  .experience {
    flex-direction: column;
  }

  .experience-text, .experience-description {
    width: 100%;
  }

  .skill {
    flex-direction: column;
  }

  .skill-text {
    width: 100%;
  }

  .skill-images {
    width: 100%;
  }

  .work-images {
    flex-direction: column;
  }

  .personal-message {
    flex-direction: column;
  }

  .personal-message-header {
    width: 100%;
  }

  .personal-message-description {
    width: 100%;
  }

  #hamburger {
    display: block;
    padding: 8px;
    cursor: pointer;
  }

  .nav-link-container-white {
    display: none;
  }

  .side-nav {
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    min-width: 40%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 96px 32px 32px 32px;
    gap: 24px;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
  }

  .nav-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 2px var(--primary-color);
    width: 32px;
    height: 32px;
  }
}
