:root {
  --bg-site: #ffffff;
  --text-color: #000000;
  --text-color-97: #00000097;
  --text-color-59: #00000059;
  --primary-color: #1206FA;
  --bg-color: #FCF8F8;
  --font-size: clamp(42px, 6vw, 5rem);
  --line-height: clamp(51px, 7.2vw, 6rem);
  --black-50: #00000050;
  --bg-btn: #46464600;
  --border-btn: #000000;
  --themed-white-or-primary: var(--primary-color);
}

.dark-mode {
  --bg-site: #010101;
  --text-color: #ffffff;
  --text-color-59: #ffffff59;
  --text-color-97: #ffffff97;
  --primary-color: #4639f7;
  --bg-btn: #464646ff;
  --border-btn: #464646ff;
  --bg-color: #232327;
  --themed-white-or-primary: var(--text-color);
}

body {
  background: var(--bg-site);
  transition: background-color 0.3s, color 0.3s;
  color: var(--text-color);
}

#overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: var(--black-50);
  z-index: 1;
}

#theme-toggle {
  position: fixed;
  left: calc(50% + min(562px, (100vw - 60px) / 2) - 64px);
  bottom: 64px;
  width: 64px;
  height: 64px;
  background: var(--primary-color);
  border-radius: 64px;
  text-align: center;
  /* centers vertically */
  line-height: 64px;
  z-index: 1000;
  box-shadow: 0px 0px 5px 1px gray;
}

#hamburger {
  display: none;
}

/* Texts */
.text-white {
  color: #ffffff;
}

.text-color {
  color: var(--text-color);
}

.text-white-59 {
  color: var(--text-color-59);
}

.text-white-97 {
  color: var(--text-color-97);
}

.side-nav {
  display: none;
}

.nav-wrap {
  position: sticky;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(5px);
  padding-bottom: 16px;
}

.navs {
  width: calc(100vw - 60px);
  max-width: 1184px;
  margin: 0 auto;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav-home {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #000000aa;
}

.nav-links {
  background-color: var(--primary-color);
  height: 100%;
  width: fit-content;
  min-width: 52px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: center;
  align-items: end;
  box-shadow: 0px 0px 10px #000000aa;
}

.nav-link-container-white {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
}

.nav-link > a {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.nav-link-icon > img, .nav-link-icon-white > img {
  width: 80%;
  height: 80%;
}

.nav-link-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid 2px #ffffff;
  width: 32px;
  height: 32px;
}

.w-750 {
  max-width: 750px;
}

.w-600 {
  max-width: 600px;
}
.introduction-text {
  max-width: 60%;
}

.introduction {
  width: 100%;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.introduction-image {
  max-width: 40%;
}

.profile-picture {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 40px;
  box-shadow: 0px 0px 10px gray;
  float: right;
  background-color: #ffffffa0;
}

.hidden {
  display: none;
}

.animated-text-container {
  position: relative;
  /* Same as h1 line-height */
  height: var(--line-height);
  overflow: hidden;
}

.animated-text {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  animation: slide-up 8s linear infinite;
  font-family: SFProDisplayMedium;
}

@keyframes slide-up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }

  2% {
    transform: translateY(0%);
    opacity: 1;
  }
  12% {
    transform: translateY(0%);
    opacity: 1;
  }
  23% {
    transform: translateY(0%);
    opacity: 1;
  }
  25% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

.fade-in-animated {
  animation: fade-in 2s ease-out 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-up-animated {
  animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-320px);
  }
}

.scroll-down-animated {
  animation: scroll-down 10s linear infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-328px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animated-text:nth-child(1) {
  animation-delay: 0s;
}

.animated-text:nth-child(2) {
  animation-delay: 2s;
}

.animated-text:nth-child(3) {
  animation-delay: 4s;
}

.animated-text:nth-child(4) {
  animation-delay: 6s;
}

.footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
}

.text-h1 {
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: SFProDisplayMedium;
}

.text-highlight {
  font-weight: 500;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 1%;
}

.purple {
  color: var(--primary-color);
}

.btn {
  border: solid var(--border-btn) 2px;
  border-radius: 12px;
  padding: 12px;
  gap: 10px;
  opacity: 0.95;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  letter-spacing: 5%;
  margin-top: 24px;
  letter-spacing: 0.05em;
  background-color: var(--bg-btn);
  font-family: SFProDisplay;
  cursor: pointer;
  color: var(--text-color);
  text-transform: uppercase;
}

.btn:hover {
  color: #ffffff;
  background: var(--primary-color);
  border: solid var(--primary-color) 2px;
  opacity: 1;
}

.container {
  width: calc(100vw - 60px);
  max-width: 1184px;
  margin: 30px auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.experience {
  margin: 40px 0px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.bg-bg-site {
  background-color: var(--bg-site);
}

.experience-description {
  background-color: var(--bg-color);
  border-radius: 24px;
  padding: 32px;
}

.experience-text, .experience-description {
  width: 50%;
}

.experience-text-normal {

  font-family: SFProDisplayMedium;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.experience-text-highlight {
  font-family: SFProDisplayMedium;
  font-size: 32px;
  font-weight: 500;
  line-height: 44.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.experience-description-text {
  color: var(--text-color);
}

.experience-description-text, .personal-message-description-text, .case-study-description-details {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.experience-description-text {
  color: var(--text-color-97);
}

.skill {
  margin: 40px 0px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-text, .skill-text .purple {
  font-family: SFProDisplayMedium;
  width: 50%;
  font-weight: 500;
  font-size: 32px;
  line-height: 44.8px;
}

.skill-images {
  width: 50%;
  background-color: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  height: 358px;
  overflow: hidden;
}

.skill-image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.work {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-text, .work-text .purple {
  font-family: SFProDisplayMedium;
  font-weight: 500;
  font-size: 32px;
  line-height: 72px;
}

.work-images {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-image {
  width: 100%;
  max-width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
}

.work-slug {
  font-size: clamp(12px, 16px, 2vw);
  color: var(--text-color-59);
  margin: 16px 0;
  letter-spacing: 2px;
}

.case-study-slug {
  font-size: clamp(16px, 20px, 5vw);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.work-description {
  font-size: clamp(20px, 28px, 4vw);
  color: var(--text-color-97);
}

.expanded {
  flex: 1;
}

.work-img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  /* aspect-ratio: 1.41/1; */
  object-fit: fill;
}

.work-img:hover {
  box-shadow: 0px 0px 8px 0px var(--themed-white-or-primary);
}

.personal-message {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.personal-message-header, .personal-message-header .purple {
  font-family: SFProDisplayMedium;
  width: 50%;
  font-weight: 500;
  font-size: var(--font-size);
}

.personal-message-header {
  dispaly: inline-block;
}

.personal-message-header .purple {
  font-weight: bold;
  line-height: var(--line-height);
}

.personal-message-description {
  width: 50%;
  background-color: var(--bg-color);
  border-radius: 24px;
  padding: 32px;
}

/* Margins */
.mt-0 {
  margin-top: 0px;
}

.mt-8 {
  margin-top: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-0 {
  margin-bottom: 0px;
}

/* Paddings */
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

/* Texts */
.txt-white {
  color: white;
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-white {
  background-color: #ffffff;
}

.bg-text-color {
  background-color: var(--bg-color);
}

/* Borders */
.br-white {
  border-color: #ffffff;
}

.br-primary {
  border-color: var(--primary-color);
}

.br-themed-white-or-primary {
  border-color: var(--themed-white-or-primary);
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-16 {
  border-radius: 16px;
}

/* Flex */
.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-stretch {
  align-items: stretch;
}

.gp-8 {
  gap: 8px;
}

.gp-16 {
  gap: 16px;
}

.gp-32 {
  gap: 32px;
}

.gp-64 {
  gap: 64px;
}

/* Texts */

.personal-message-description-text {
  color: var(--text-color-97);
}

.cs-01-img, .design-process-img {
  width: 100%;
}

.cs-01-img {
  height: 100%;
}

/* .case-study-intro { */
/*   align-items: center; */
/* } */

.case-study-intro-texts {
  max-width: 50%;
}

.case-study-intro-text, .case-study-description-title {
  font-size: clamp(36px, 64px, 6vw);
  line-height: calc(clamp(36px, 64px, 6vw) * 1.4);
  font-weight: bolder;
}
.case-study-description-title-sm {
  font-size: clamp(24px, 48px, 6vw);
  line-height: calc(clamp(24px, 48px, 6vw) * 1.4);
  font-weight: bolder;
  color: var(--text-color);
}
.case-study-intro-image {
  max-width: 50%;
}

.case-study-description-text {
  flex-direction: column;
}

.case-study-stat {
  background: var(--bg-color);
  border-radius: 8px;
  padding: 16px;
}

.stat-title {
  font-weight: bold;
  font-size: 20px;
}

.stat-detail {
  font-size: 20px;
  color: var(--text-color-97);
}

.case-study-description-text {
  width: 50%;
}

.case-study-description-image {
  width: 50%;
}

.case-study-description-img {
  width: 100%;
}

.case-study-impact {
  font-weight: bold;
  font-size: 20px;
}

.design-process-text > p {
  font-size: 20px;
}

.emphasis {
  font-weight: bold;
}

.design-process-user {
  background-color: var(--bg-color);
  border-radius: 16px;
  padding: 16px;
}

.user-name {
  font-weight: bold;
}

.design-process-user-details {
  font-size: clamp(12px, 20px, 4vw);
}

.bullets-inside {
  list-style: disc;
  list-style-position: inside;
}

.design-process-text {
  width: 50%;
}

.design-process-image {
  width: 50%;
}

.design-process-huge-img {
  width: 100%;
  display: unset;
  background-color: #ffffffa0;
  border-radius: 16px;
  padding: 16px;
}

.design-process-small-img {
  display: none;
}

.text-center {
  text-align: center;
}

.fs-20 {
  font-size: 20px;
  line-height: 36px;
}

.validation-row {
  display: flex;
  gap: 32px;
  /* align-items: center; */
  font-size: 20px;
  line-height: 36px;
  color: var(--text-color-97);
}

.validation-col-left, .validation-col-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  border-radius: 16px;
}

.validation-img {
  width: 100%;
}

.result-row {
  display: flex;
  gap: 32px;
  font-size: 20px;
  line-height: 36px;
  color: var(--text-color-97);
}

.result-col {
  background-color: var(--bg-color);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.result-col > ul li:not(:last-child) {
  margin-bottom: 32px;
}

@media only screen and (max-width: 992px) {
  .profile-picture {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .case-study-intro {
    flex-direction: column;
  }

  .case-study-intro-texts {
    max-width: 100%;
  }

  .case-study-intro-image {
    max-width: 100%;
  }

  .case-study-description {
    flex-direction: column;
    max-width: 100%;
  }

  .case-study-description-text {
    flex-direction: column;
    width: 100%;
  }

  .case-study-description-image {
    width:100%;
  }
  .case-study-stats {
    flex-direction: column;
  }

  .case-study-stat {
    width: 100%;
  }

  .d-flex-column-reverse {
    flex-direction: column-reverse;
  }

  .design-process {
    flex-direction: column;
  }

  .design-process-users {
    flex-direction: column;
  }

  .design-process-text {
    width: 100%;
  }

  .design-process-image {
    width: 100%;
  }

  .validation-row {
    flex-direction: column;
  }

  .validation-col-left {
    width: 100%;
  }

  .validation-col-right {
    width: 100%;
  }

  .result-row {
    flex-direction: column;
  }

  .result-col {
    width: 100%;
  }

  .design-process-huge-img {
    display: none;
  }

  .design-process-small-img {
    display: unset;
    width: 100%;
    background-color: #ffffffa0;
  }

  .small-img-left {
    border-radius: 16px 0px 0px 16px;
    padding: 16px 0px 16px 16px;
  }
  
  .small-img-right {
    border-radius: 0px 16px 16px 0px;
    padding: 16px 16px 16px 0px;
  }
}

@media only screen and (max-width: 575px) {
  .introduction {
    flex-direction: column;
  }
  .introduction-text {
    width: 100%;
  }

  .text-h1, .text-highlight {
    font-size: calc(var(--font-size)*1.4);
    line-height: calc(var(--line-height)*1.4);
  }

  .animated-text-container {
    /* Same as h1 line-height */
    height: calc(var(--line-height)*1.4);
  }

  .introduction-image {
    width: 100%;
  }

  .experience {
    flex-direction: column;
  }

  .experience-text, .experience-description {
    width: 100%;
  }

  .skill {
    flex-direction: column;
  }

  .skill-text {
    width: 100%;
  }

  .skill-images {
    width: 100%;
  }

  .work-image {
    max-width: 100%;
  }

  .work-images {
    flex-direction: column;
    align-items: center;
  }

  .personal-message {
    flex-direction: column;
  }

  .personal-message-header {
    width: 100%;
    display: inline-flex;
  }

  .personal-message-description {
    width: 100%;
  }

  #hamburger {
    display: block;
    padding: 8px;
    cursor: pointer;
  }

  .nav-link-container-white {
    display: none;
  }

  .side-nav {
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    min-width: 50%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 96px 32px 32px 32px;
    gap: 24px;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
  }

  .nav-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 2px #ffffff;
    width: 32px;
    height: 32px;
  }
}
